<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TrollCall</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=0.9">
<<<<<<< HEAD
    <link rel="stylesheet" type="text/css" href="/assets/styles/main.css" />
    <link rel="stylesheet" type="text/css" href="/assets/styles/style.css" />
    <link rel="stylesheet" type="text/css" href="/assets/styles/mspa.css" />
=======
    <link rel="stylesheet" type="text/css" href="/TrollCall/assets/styles/main.css" />
    <link rel="stylesheet" type="text/css" href="/TrollCall/assets/styles/style.css" />
    <link rel="stylesheet" type="text/css" href="/TrollCall/assets/styles/mspa.css" />
    <link rel="icon" type="image/x-icon" href="/TrollCall/assets/images/favicon.ico" />
>>>>>>> c5add4da999b36a2e425ee97510ba786a850741c
    <meta property="og:type" content="website">
    <meta property="og:title" content="TrollCall -- Index">
    <meta property="og:url" content="/">
    <meta property="og:description" content="A website for indexing various fantrolls. Check them out.">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL@20,700,1" rel="stylesheet" />
  </head>
  <body>
    <box span align-center justify-start>
      <box nopad span noimportant></box>
      <box align-stretch nopad>
        <box outline align-start noimportant>
          <text large>TrollCall</text>
          <box>
            <text>Welcome to TrollCall, a website for indexing various fantrolls. Check them out!</text>
          </box>
        </box>
        <box frame outline align-start noimportant>
          <text large>...Get your own space!</text>
          <box>
            <text>Want your own fantroll to have a cool refsheet? Simply take <a href="https://forms.gle/Gs4rccZpCt7KKmyx6">this form</a>!</text>
            <spacer noshow></spacer>
            <text>Already have a refsheet and want to update outdated information? DM me <a href="https://meowcatheorange.github.io/">on Discord</a>! (follow website link then click "Discord Friend Invite" icon)</text>
          </box>
          <spacer></spacer>
          <text large>...Join the Discord Server!</text>
          <box>
            <text>I have a Discord server now. It's pretty cool. I think.</text>
            <text>I share it with another project one of my friends are making, so sorry for the clutter, haha</text>
            <spacer noshow></spacer>
            <text><a href="https://discord.gg/dxS3Nc6VXB">JOIN HERE</a></text>
          </box>
        </box>
        <box horizontal span nopad>
          <box outline span important strictparent>
            <!-- <box align-start noimportant frame>
                <text big>Contents</text>
                <box parent important>
                  <box nopad horizontal>
                    <text big><a href="#chars">Characters</a></text>

                  </box>
                  <spacer></spacer>
                  <%# array.forEach(function(user){ %>
                    <a href="#<%#- user[0] %>"><%#- user[0] %><%#- query.sort ? "" : (user[0].slice(-1) == "s" ? "' Characters" : "'s Characters") %></a>
                    <box>
                    <%# user[1].forEach(function(char){ %>
                      <text>- <%#- char[1] %></text>
                    <%# }); %>
                    </box>
                  <%# }); %>
                  <text big><a href="#pesters">Pesterlogs</a></text>
                  <spacer></spacer>
                </box>
            </box> -->
              <box align-start parent nopad important>
                <text large id="chars">Characters</text>
                <spacer></spacer>
                <a href=<%- query.sort ? `"/">(Sort by user)` : `"/blood/">(Sort by caste)` %></a>
                <box span>
                <% array.forEach(function(user){ %>
                  <text big id="<%- user[0] %>"><%- user[0] %><%- query.sort ? "" : (user[0].slice(-1) == "s" ? "' Characters" : "'s Characters") %></text>
                  <!-- <spacer></spacer> -->
                  <box horizontal align-start span justify-center vcontent>
                    <% user[1].forEach(function(char){ %>
                    <a href="/char/<%- char[0] %>" boxish style="<%- colors.themeColor(zodiac[char[3]].main, "this-color") %>">
                      <box outline parent child pattern align-center>
                        <text large span><%- char[1] %></text>
                        <text span><%- query.sort ? char[2] : char[3] %></text>
                        <img icon src="/characters/<%- char[0] %>/image.png"/>
                      </box>
                    </a>
                    <% }); %>
                  </box>
                <% }); %>
                </box>
              </box>
          </box>
          <box outline align-start parent span>
            <box align-start nopad important span>
              <text large id="pesters">Pesterlogs</text>
              <spacer></spacer>
              <box span>
                <% logs.forEach(function(log){ %>
                  <a href="/pester/<%- log[0] %>" boxish span>
                    <box outline frame pattern vcontent align-left span>
                      <text big><%- log[0].replace(/_/gi, " ") %></text>
                      <text><%- new Date(log[2] * 1000).toLocaleString() %></text>
                      <spacer noshow></spacer>
                      <text><%- log[1] %></text>
                    </box>
                  </a>
                <% }); %>
              </box>
            </box>
          </box>
        </box>
        <box frame outline align-stretch noimportant>
          <text span>TrollCall (this website, hosted on NOT hiveswap.com)</text>
          <text span>© 2023 MeowcaTheoRange. Some characters may not be owned by me.</text>
          <spacer noshow></spacer>
          <text span>This website uses character species and designs from the property Homestuck.</text>
          <text span>© Homestuck and VIZ Media</text>
          <spacer noshow></spacer>
          <text span>Design and name somewhat inspired by HIVESWAP's <a href="http://hs.hiveswap.com/trollcall/">Troll Call</a> page.</text>
          <text span>Homestuck and HIVESWAP © Homestuck Inc.</text>
        </box>
      </box>
    </box>
    <!-- <script type="module">
      import * as color from "/assets/scripts/color.js";
      color.themeColor("#ffffff", "pri");
      color.themeColor("#404040", "sec");
    </script> -->
  </body>
</html>