<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TrollCall</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=0.9">
    <link rel="stylesheet" type="text/css" href="/assets/styles/main.css" />
    <link rel="stylesheet" type="text/css" href="/assets/styles/style.css" />
    <link rel="stylesheet" type="text/css" href="/assets/styles/mspa.css" />
    <meta property="og:type" content="website">
    <meta property="og:title" content="TrollCall -- Index">
    <meta property="og:url" content="/">
    <meta property="og:description" content="A website for indexing various fantrolls. Check them out.">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL@20,700,1" rel="stylesheet" />
  </head>
  <body>
    <box span nopad align-center justify-start>
      <box nopad span noimportant></box>
      <box align-stretch nopad>
        <box outline align-start noimportant>
          <text large>TrollCall</text>
          <box>
            <text>Welcome to TrollCall, a website for indexing various fantrolls. Check them out!</text>
          </box>
        </box>
        <box horizontal span nopad>
          <box outline span important strictparent content>
            <!-- <box align-start noimportant frame>
                <text big>Contents</text>
                <box parent important>
                  <box nopad horizontal>
                    <text big><a href="#chars">Characters</a></text>

                  </box>
                  <spacer></spacer>
                  <%# array.forEach(function(user){ %>
                    <a href="#<%#- user[0] %>"><%#- user[0] %><%#- query.sort ? "" : (user[0].slice(-1) == "s" ? "' Characters" : "'s Characters") %></a>
                    <box>
                    <%# user[1].forEach(function(char){ %>
                      <text>- <%#- char[1] %></text>
                    <%# }); %>
                    </box>
                  <%# }); %>
                  <text big><a href="#pesters">Pesterlogs</a></text>
                  <spacer></spacer>
                </box>
            </box> -->
              <box align-start parent nopad important>
                <text large id="chars">Characters</text>
                <spacer></spacer>
                <a href=<%- query.sort ? `"/">(Sort by user)` : `"/blood/">(Sort by caste)` %></a>
                <box span>
                  <% console.log(flairs) %>
                <% array.forEach(function(user){ %>
                  <box horizontal nopad span vcontent align-center nogap id="<%- user[0] %>"><text big><%- user[0] %></text><% if(flairs[user[0]]) { %>&nbsp;<text frame normal style="<%- colors.themeColor(flairs[user[0]][1], "this-color") %>"><%- flairs[user[0]][0] %></text><% } %><text big><%- query.sort ? "" : (user[0].slice(-1) == "s" ? "'" : "'s") %> Characters</text></box>
                  <!-- <spacer></spacer> -->
                  <box horizontal align-start span justify-center vcontent>
                    <% user[1].forEach(function(char){ %>
                    <a href="/char/<%- char[0] %>" boxish style="<%- colors.themeColor(zodiac[char[3]].main, "this-color") %>">
                      <box outline strictparent child pattern align-center>
                        <text large><%- char[1] %></text>
                        <text span><%- query.sort ? char[2] : char[3] %></text>
                        <img icon src="/char/<%- char[0] %>/image.png"/>
                      </box>
                    </a>
                    <% }); %>
                  </box>
                <% }); %>
                </box>
              </box>
          </box>
          <box nopad strictparent>
            <box outline align-start noimportant vcontent span>
              <box align-start nopad important span>
                <text large id="pesters">Extras</text>
                <spacer></spacer>
                <box span>
                  <a href="http://discord.trollcall.xyz/" boxish span>
                    <box outline frame pattern vcontent align-left span style="<%- colors.themeColor("#5865F2", "this-color") %>">
                      <text big>Discord</text>
                      <text>We have a Discord server! It's pretty cool. You should join it!</text>
                    </box>
                  </a>
                  <a href="http://signup.trollcall.xyz/" boxish span>
                    <box outline frame pattern vcontent align-left span style="<%- colors.themeColor("#FF0000", "this-color") %>">
                      <text big>Signup</text>
                      <text>Want your own fantroll to have a cool refsheet? Simply take this form!</text>
                    </box>
                  </a>
                  <a href="http://hs.trollcall.xyz/" boxish span>
                    <box outline frame pattern vcontent align-left span style="<%- colors.themeColor("#8000FF", "this-color") %>">
                      <text big>Hiveswap</text>
                      <text>Looking for the original Friendsim TrollCall website? Here it is!</text>
                    </box>
                  </a>
                  <a href="http://source.trollcall.xyz/" boxish span>
                    <box outline frame pattern vcontent align-left span style="<%- colors.themeColor("#000000", "this-color") %>">
                      <text big>Source</text>
                      <text>Want to contribute?</text>
                      <text>...why?</text>
                    </box>
                  </a>
                  <a href="http://legacy.trollcall.xyz/" boxish span>
                    <box outline frame pattern vcontent align-left span style="<%- colors.themeColor("#ff0000", "this-color") %>">
                      <text big>Legacy</text>
                      <text>The original TrollCall website. It is most definitely missing characters, but it has more fancy bullshit.</text>
                    </box>
                  </a>
                  <spacer></spacer>
                  <a href="http://me.trollcall.xyz/" boxish span>
                    <box outline frame pattern vcontent align-left span style="<%- colors.themeColor("#FF8000", "this-color") %>">
                      <text big>MeowcaTheoRange</text>
                      <text>Website creator, form manager</text>
                    </box>
                  </a>
                  <a href="http://redact.trollcall.xyz/" boxish span>
                    <box outline frame pattern vcontent align-left span style="<%- colors.themeColor("#808080", "this-color") %>">
                      <text big>Redact4K</text>
                      <text>Domain holder</text>
                    </box>
                  </a>
                </box>
              </box>
            </box>
            <box outline align-start parent span>
              <box align-start nopad important span>
                <text large id="pesters">Pesterlogs</text>
                <spacer></spacer>
                <box span>
                  <% logs.forEach(function(log){ %>
                    <a href="/pester/<%- log[0] %>" boxish span>
                      <box outline frame pattern vcontent align-left span>
                        <text big><%- log[0].replace(/_/gi, " ") %></text>
                        <text><%- new Date(log[2] * 1000).toLocaleString() %></text>
                        <spacer noshow></spacer>
                        <text><%- log[1] %></text>
                      </box>
                    </a>
                  <% }); %>
                </box>
              </box>
            </box>
          </box>
        </box>
        <%- include('./footer.ejs') %>
      </box>
    </box>
    <!-- <script type="module">
      import * as color from "/assets/scripts/color.js";
      color.themeColor("#ffffff", "pri");
      color.themeColor("#404040", "sec");
    </script> -->
  </body>
</html>