<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TrollCall</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=0.9">
    <link rel="stylesheet" type="text/css" href="/TrollCall/assets/styles/main.css" />
    <link rel="stylesheet" type="text/css" href="/TrollCall/assets/styles/style.css" />
    <link rel="stylesheet" type="text/css" href="/TrollCall/assets/styles/mspa.css" />
    <meta property="og:type" content="website">
    <meta property="og:title" content="TrollCall -- Index">
    <meta property="og:url" content="/TrollCall/">
    <meta property="og:description" content="A website for indexing various fantrolls. Check them out.">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL@20,700,1" rel="stylesheet" />
  </head>
  <body>
    <box span align-center justify-start>
      <box nopad span noimportant></box>
      <box align-stretch nopad>
        <box outline align-start noimportant>
          <text large>TrollCall</text>
          <box>
            <text>Welcome to TrollCall, a website for indexing various fantrolls. Check them out!</text>
          </box>
          <box frame span>
            <text big>Redesign Beta</text>
            <text>This site is work in progress. Keep calm while I iron out the kinks.</text>
            <text>You may notice the lack of other fantrolls.</text>
          </box>
        </box>
        <box frame outline align-start noimportant>
          <text large>Get your own!</text>
          <box>
            <text>Want your own fantroll to have a cool refsheet? Simply take <a href="https://forms.gle/Gs4rccZpCt7KKmyx6">this form</a>!</text>
            <spacer noshow></spacer>
            <text>Already have a refsheet and want to update outdated information? DM me <a href="https://meowcatheorange.github.io/">on Discord</a>! (follow website link then click "Discord Friend Invite" icon)</text>
          </box>
        </box>
        <box outline span>
          <box align-start noimportant frame>
              <text big>Contents</text>
              <box parent important>
                <box nopad horizontal>
                  <text big><a href="#chars">Characters</a></text>
                  <a href=<%- query.sort ? `"/TrollCall/">(Sort by user)` : `"/TrollCall/blood/">(Sort by caste)` %></a>
                </box>
                <spacer></spacer>
                <% array.forEach(function(user){ %>
                  <a href="#<%- user[0] %>"><%- user[0] %><%- query.sort ? "" : (user[0].slice(-1) == "s" ? "' Characters" : "'s Characters") %></a>
                  <box>
                  <% user[1].forEach(function(char){ %>
                    <text>- <%- char[1] %></text>
                  <% }); %>
                  </box>
                <% }); %>
                <text big><a href="#pesters">Pesterlogs</a></text>
                <spacer></spacer>
              </box>
          </box>
          <box horizontal span nopad>
            <box align-start parent important>
              <text large id="chars">Characters</text>
              <spacer></spacer>
              <box span>
              <% array.forEach(function(user){ %>
                <text big id="<%- user[0] %>"><%- user[0] %><%- query.sort ? "" : (user[0].slice(-1) == "s" ? "' Characters" : "'s Characters") %></text>
                <!-- <spacer></spacer> -->
                <box horizontal align-start span justify-start vcontent>
                  <% user[1].forEach(function(char){ %>
                  <a href="/TrollCall/char/<%- char[0] %>" boxish style="<%- colors.themeColor(zodiac[char[3]].main, "this-color") %>">
                    <box outline pattern align-center class="imageHolder">
                      <text large span><%- char[1] %></text>
                      <text span><%- query.sort ? char[2] : char[3] %></text>
                      <img icon src="/TrollCall/characters/<%- char[0] %>/image.png"/>
                    </box>
                  </a>
                  <% }); %>
                </box>
              <% }); %>
              </box>
            </box>
            <box align-start parent>
              <text large id="pesters">Pesterlogs</text>
              <spacer></spacer>
              <box span>
                <% logs.forEach(function(log){ %>
                  <a href="/TrollCall/pester/<%- log[0] %>" boxish span>
                    <box outline frame pattern vcontent align-left span>
                      <text big><%- log[0] %></text>
                      <text><%- new Date(log[2] * 1000).toLocaleString() %></text>
                      <spacer noshow></spacer>
                      <text><%- log[1] %></text>
                    </box>
                  </a>
                <% }); %>
              </box>
            </box>
          </box>
        </box>
        <box frame outline align-stretch noimportant>
          <text span>TrollCall (this website, hosted on NOT hiveswap.com)</text>
          <text span>© 2023 MeowcaTheoRange. Some characters may not be owned by me.</text>
          <spacer noshow></spacer>
          <text span>This website uses character species and designs from the property Homestuck.</text>
          <text span>© Homestuck and VIZ Media</text>
          <spacer noshow></spacer>
          <text span>Design and name somewhat inspired by HIVESWAP's <a href="http://hs.hiveswap.com/trollcall/">Troll Call</a> page.</text>
          <text span>Homestuck and HIVESWAP © Homestuck Inc.</text>
        </box>
      </box>
    </box>
    <!-- <script type="module">
      import * as color from "/TrollCall/assets/scripts/color.js";
      color.themeColor("#ffffff", "pri");
      color.themeColor("#404040", "sec");
    </script> -->
  </body>
</html>