<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TrollCall</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=0.9">
    <link rel="stylesheet" type="text/css" href="/assets/styles/main.css" />
    <link rel="stylesheet" type="text/css" href="/assets/styles/style.css" />
    <link rel="stylesheet" type="text/css" href="/assets/styles/mspa.css" />
    <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon"/>
    <meta property="og:type" content="website">
    <meta property="og:title" content="TrollCall -- <%= name.replace(/_/gm, " ").toAllUpperCase() %>">
    <meta property="og:description" content="<%= chars[charsList[0]].name %> [<%= chars[charsList[0]].nameshort %>] began trolling <%- chars[charsList[1]].name %> [<%- chars[charsList[1]].nameshort %>].">
    <meta property="og:url" content="/pester/<%- name %>">
    <!-- <meta property="og:description" content="<%#- before %>"> -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL@20,700,1" rel="stylesheet" />
  </head>
  <body>
    <box span align-center nopad justify-start>
      <box nopad span noimportant></box>
      <box align-stretch nopad>
        <%- include('./nav.ejs', {name:name, type:"Pesterlog", link:"pester/" + name}) %>
        <box outline span noimportant align-start>
          <text large>Pesterlog - <%- name.replace(/_/gm, " ") %></text>
          <!-- <text><%#- before %></text> -->
          <pesterlog>
            <dialogue>
              <span style="color: rgb(<%- zodiac[chars[charsList[0]].caste].text %>)"><%- chars[charsList[0]].name %> [<%- chars[charsList[0]].nameshort %>]</span> 
              began trolling 
              <span style="color: rgb(<%- zodiac[chars[charsList[1]].caste].text %>)"><%- chars[charsList[1]].name %> [<%- chars[charsList[1]].nameshort %>]</span>.
            </dialogue>
            
            <% list.forEach(function(dialogue){ %>
            <dialogue style="color: rgb(<%- zodiac[chars[dialogue.character].caste].text %>)"><%- chars[dialogue.character].nameshort %>: <%- quirkify(dialogue.character, dialogue.text, dialogue.whispering) %></dialogue>
            <% }); %>

            <dialogue>
              <span style="color: rgb(<%- zodiac[chars[charsList[0]].caste].text %>)"><%- chars[charsList[0]].name %> [<%- chars[charsList[0]].nameshort %>]</span> 
              ceased trolling 
              <span style="color: rgb(<%- zodiac[chars[charsList[1]].caste].text %>)"><%- chars[charsList[1]].name %> [<%- chars[charsList[1]].nameshort %>]</span>.
            </dialogue>
          </pesterlog>
          <details>
            <summary>Show source text</summary>
            <pesterlog>
              <dialogue>
                <span><%- chars[charsList[0]].name %> [<%- chars[charsList[0]].nameshort %>]</span> 
                began trolling 
                <span><%- chars[charsList[1]].name %> [<%- chars[charsList[1]].nameshort %>]</span>.
              </dialogue>
              
              <% list.forEach(function(dialogue){ %>
              <dialogue><%- chars[dialogue.character].nameshort %>: <%- dialogue.text %></dialogue>
              <% }); %>
  
              <dialogue>
                <span><%- chars[charsList[0]].name %> [<%- chars[charsList[0]].nameshort %>]</span> 
                ceased trolling 
                <span><%- chars[charsList[1]].name %> [<%- chars[charsList[1]].nameshort %>]</span>.
              </dialogue>
            </pesterlog>
          </details>
        </box>
        <%- include('./footer.ejs') %>
      </box>
    </box>
    <script type="module">
      import * as color from "/assets/scripts/color.js";
      color.themeColor("#ffffff", "pri");
      color.themeColor("#404040", "sec");
    </script>
  </body>
</html>